body{
    background-image: url("img/fundo.png");
}

.principal{
    width: 900px;
}
.navegacao{
    background-color: #c5c5b2;
    padding: 25px 0px 25px 5px;
    font-size: 20px;
}

.conteudo{
    padding: 5px 5px 5px 10px;
    background-color: white;
    
    
}

.img{
    
    border: 10px solid #c5c5b2;
}

.center{
    font-weight: bold;
    text-align: center;
}

a{
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    color: #4b566a;
}
h2{
    color: #c5c5b2;
}